$background-color-service-item:  url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle fill='%2368b738' cx='25' cy='25' r='25'/%3E%3C/svg%3E");
$background-img-service-slim: url("../img/icon-cat-slim.svg"), $background-color-service-item;
$background-img-service-pro: url("../img/icon-cat-pro.svg"), $background-color-service-item;

.services {
  display: block;
  width: 280px / $mobile * 100%;
  margin: 0 auto;
  margin-top: 21px;
  padding: 0;
}

.services-item {
  position: relative;

  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-grow: 1;
  min-width: 280px;
  width: 100%;
  margin: 0;
  padding: 23px 21px;

  background-color: #f2f2f2;

  &:not(:last-child) {
    margin-bottom: 19px;
  }

  h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;

    color: #111111;

    @include text(400, 24px, 37px, uppercase);

    &::before {
      content: "";

      display: block;
      width: 53px;
      height: 50px;
      margin: 0;
      margin-right: 17px;
      padding: 0;

      background-image: $background-color-service-item;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  p {
    display: block;
    width: 100%;
    margin: 0;
    margin-top: 23px;
    padding: 0;
    padding-bottom: 23px;

    color: #444444;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    border-bottom: 1px solid #0000001a;
  }

  a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    margin-top: 18px;
    padding: 0;

    color: #111111;
    text-decoration: none;

    @include text(400, 16px, 16px, uppercase);

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &::after {
      content: "";

      display: block;
      margin: 0;
      margin-left: 10px;
      padding: 0;
      width: 25px;
      height: 12px;

      background-image: url("../img/icon-right-arrow-long.svg");
    }
  }

  &--slim {
    h3 {
      &::before {
        background-image: $background-img-service-slim;
      }
    }
  }

  &--pro {
    h3 {
      margin-bottom: -2px;

      &::before {
        width: 67px;
        height: 28px;
        margin-left: -8px;
        margin-right: 11px;
        padding-top: 24px;

        background-image: $background-img-service-pro;
      }
    }
  }
}

@media (min-width: $tablet) {
  .services {
    width: 708px / $tablet * 100%;
    margin-top: -1px;
  }

  .services-item {
    padding: 23px 275px 61px 53px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    h3 {
      margin-top: 52px;

      font-size: 36px;
      line-height: 37px;

      &::before {
        content: none;
      }
    }

    p {
      margin-top: 25px;
      border: none;

      font-size: 16px;
      line-height: 24px;
    }

    a {
      margin-top: 34px;

      font-size: 20px;
      line-height: 20px;

      &::after {
        margin-left: 22px;
      }
    }

    &--slim {
      &::before {
        content: "";

        position: absolute;
        right: 61px;
        top: 50%;

        width: 200px;
        height: 228px;
        margin: -110px 0 0;

        background-image: $background-img-service-slim;
        background-repeat: no-repeat;
        background-position: 29px 2px, 100%;
        background-size: 141px 194px, 100%;
      }
    }

    &--pro {
      padding-right: 312px;

      &::before {
        content: "";

        position: absolute;
        right: 26px;
        top: 50%;

        width: 270px;
        height: 270px;
        margin-top: -142px;

        background-image: $background-img-service-pro;
        background-repeat: no-repeat;
        background-position: 0 90px, 37px 68%;
        background-size: 268px 113px, 200px;
      }

      p {
        margin-top: 28px;
      }
    }
  }
}

@media (min-width: $desktop) {
  .services {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 80px auto 0;
    padding: 0 110px;
  }

  .services-item {
    width: calc(50% - 80px);
    padding: 40px 52px 60px;


    &:nth-child(n) {
      margin-bottom: 0;
    }

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &::before {
      content: "";

      position: absolute;
      left: 27px;
      top: 40px;

      display: block;
      width: 150px;
      height: 150px;
      margin: 0 17px 0 0;
      padding: 0;

      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle fill='%2368b738' cx='25' cy='25' r='25'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 25px 7px;
      background-size: 100px;
    }

    h3 {
      margin-top: 36px;
      margin-left: 162px;
    }

    p {
      margin-top: 75px;
    }

    a {
      margin-top: 8px;

      &:focus {
        opacity: 0.3;
      }
    }

    &--slim {
      &::before {
        background-image: $background-img-service-slim;
        background-position: 38px 0, 25px 7px;
        background-size: 71px 97px, 100px;
      }
    }

    &--pro {
      &::before {
        background-image: $background-img-service-pro;
        background-position: 7px 30px, 25px 7px;
        background-size: 134px 57px, 100px;
      }
    }
  }
}
