$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$black-1: #111111;
$black-2: #444444;
$black-3: #6c6c6c;
$black-4: #000000;
$black-5: #666666;
$black-6: rgba(0, 0, 0, 0.25);
$black-8: rgba(0, 0, 0, 0.23);
$black-9: rgba(0, 0, 0, 0.4);
$black-10: rgba(0, 0, 0, 0.3);
$gray-1: #f2f2f2;
$gray-2: #f7f7f7;
$gray-3: #cdcdcd;
$gray-4: rgba(242, 242, 242, 1);
$gray-5: rgba(205, 205, 205, 1);
$gray-6: #dcdcdc;
$green-1: #63a73b;
$green-2: #65a93c;
$green-3: #66aa3d;
$green-4: #68b738;
$green-5: #5eaa2f;
$white: #ffffff;
$white-1: rgba(255, 255, 255, 1);
$transparent: rgba(255, 255, 255, 0);

@mixin custom-text($size, $height, $style) {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: $size;
  line-height: $height;
  text-transform: $style;
}

@mixin text($wight, $size, $height, $style) {
  @include custom-text($size, $height, $style);

  font-weight: $wight;
}

.visually-hidden:not(:focus):not(:active),
input[type="range"].visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  display: block;
  min-width: $mobile;
  width: 100%;
  max-width: $desktop;
  margin: 0 auto;
  padding: 0;

  background: #ffffff;
}

header {
  position: relative;

  display: block;
  max-width: $desktop;
  margin: 0;
  padding: 0;
}

main {
  display: block;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

picture {
  display: block;
}

a:not([href]) {
  cursor: default;
}

@media (min-width: $tablet) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 24px 30px;
  }
}

@media (min-width: $desktop) {
  html {
    overflow-x: hidden;
  }

  header {
    padding: 55px 110px;
  }
}
